layout {
    focus-ring {
        active-color "#b5d086"
        inactive-color "#8f9285"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#b5d086"
        inactive-color "#8f9285"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#b5d086"
        inactive-color "#8f9285"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#b5d08680"
    }
}
